
# Day3Part2
---

## Learning objectives
- Introduction to dataframes and tables with Pandas ([tutorial modified from](https://nbviewer.jupyter.org/github/fonnesbeck/Bios8366/blob/master/notebooks/Section2_1-Introduction-to-Pandas.ipynb))

## Section 11 - Pandas data series

---

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. We installed it earlier.

In [11]:
import pandas as pd
import numpy as np

A **Series** is a single vector of data with an *index* that labels each element in the vector, sort of like a dictionary indexed with 0,1,2,3.

In [12]:
counts = pd.Series([632, 1638, 569, 115])
counts

0     632
1    1638
2     569
3     115
dtype: int64

If you do not provide a information about the index, each entry is assigned a integer starting at 0. You can check what the index or the values using the 'values' and 'index' function:

In [13]:
print(counts.values)
print(counts.index)

[ 632 1638  569  115]
RangeIndex(start=0, stop=4, step=1)

You can assign specific index identifiers by providing a list in the 'index' option.

In [106]:
bacteria = pd.Series(list(counts), index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])
bacteria

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
dtype: int64

These labels can be used to refer to the values in the `Series`. It behaves like a dictionary so you can query for the value based on the index (like a 'key') as before:

In [107]:
bacteria['Actinobacteria']

569

You can look over the index. Here are two possible ways - one way is messy, but easy to understand. The second 'one-liner' is a short-cut way to write for loops. You can read the code backwards. Starting with the 'for': Python will read all the indices as string variable 'entry'; it will check entry string for 'bacteria' and store the positive entries into memory as a list (inner '\[\]'). This list can then be passed into the `Series` 'bacteria' to retrieve the entries.

In [17]:
# Long, but logical:
printme = []
for entry in bacteria.index:
    if entry.endswith('bacteria'):
        printme.append(entry)
print(bacteria[printme])
        
# Short form of 'for' loops for those up for a challenge
bacteria[[entry.endswith('bacteria') for entry in bacteria.index]]

Proteobacteria    1638
Actinobacteria     569
dtype: int64

Proteobacteria    1638
Actinobacteria     569
dtype: int64

Notice that the indexing operation preserved the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [18]:
bacteria[0]

632

We can give both the array of values and the index meaningful labels themselves:

In [19]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

phylum
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
Name: counts, dtype: int64

We can also filter according to the values in the `Series`:

In [20]:
bacteria[bacteria>1000]

phylum
Proteobacteria    1638
Name: counts, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a dictionary_

In [21]:
bacteria_dict = {'Proteobacteria': 1638, 'Actinobacteria': 569,'Firmicutes': 632, 'Bacteroidetes': 115}
pd.Series(bacteria_dict)

Proteobacteria    1638
Actinobacteria     569
Firmicutes         632
Bacteroidetes      115
dtype: int64

If we pass a custom index to `Series`, it will select the corresponding values from the dict, and treat indices without corrsponding values as missing. Pandas uses the `NaN` to show those entries that did not have a value in the dictionary. But also notice, we loose the 'Bacteroidetes' from the original dictionary since it was not provided an index.  This can be a useful filtering tool.

In [108]:
bacteria2 = pd.Series(bacteria_dict, index=['Cyanobacteria','Firmicutes','Proteobacteria','Actinobacteria'], )
bacteria2

Cyanobacteria        NaN
Firmicutes         632.0
Proteobacteria    1638.0
Actinobacteria     569.0
dtype: float64

In [23]:
bacteria2.isnull()

Cyanobacteria      True
Firmicutes        False
Proteobacteria    False
Actinobacteria    False
dtype: bool

In [24]:
bacteria2 + bacteria

Actinobacteria    1138.0
Bacteroidetes        NaN
Cyanobacteria        NaN
Firmicutes        1264.0
Proteobacteria    3276.0
dtype: float64

## Section 12 - Panadas DataFrame
---

Inevitably, we want to be able to store, view and manipulate data that is *multivariate*, where for every index there are multiple fields or columns of data, often of varying data type.

A `DataFrame` is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the `DataFrame` allows us to represent and manipulate higher-dimensional data. The follow code block is how to make a dataframe from a dictionary with keys 'value' 'patient' 'phylum'.  Notice how the index is just 0,1,2,.... You can think of these as row numbers.

In [25]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   value  patient          phylum
0    632        1      Firmicutes
1   1638        1  Proteobacteria
2    569        1  Actinobacteria
3    115        1   Bacteroidetes
4    433        2      Firmicutes
5   1130        2  Proteobacteria
6    754        2  Actinobacteria
7    555        2   Bacteroidetes

We can change the order of the columns by simply providing a list to the `data` `DataFrame` object.

In [26]:
data.columns

Index(['value', 'patient', 'phylum'], dtype='object')

You can determine the `type` attribute (strings, integers, floats) of data in each column. This is called the `dtype` attribute:

- `int64` is numeric integer values 
- `object` strings (letters and numbers)
- `float64` floating-point values

In [27]:
# What are the data types
print(data.dtypes)

value       int64
patient     int64
phylum     object
dtype: object

In [28]:
data.loc[1]

value                1638
patient                 1
phylum     Proteobacteria
Name: 1, dtype: object

You can view part of the data object using 'head' and 'tail'

- `data.head()` :  will print the beginning of a dataframe, can take an integer to specify how many entries
- `data.tail()` :  will print the end of a dataframe, can take an integer to specify how many entries
- `data.shape` : will give you the dimensions of the dataframe.

In [29]:
# PRACTICE

# from data, retreive the top 3 entries, the last 3 entries?

An alternative way of initializing a `DataFrame` is with a list of dicts:

In [30]:
data = pd.DataFrame([{'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}])

In [31]:
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

You can extract a `Series` object from the dataframe (remember a series is a one dimensional collection of values). However, this `Series`object is still connected to the dataframe. Therefore, if you modify the `val_Series`, you will modify the original dataframe `data`.

In [32]:
val_Series = data.value
val_Series

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [33]:
val_Series[5] = 0
data

/var/folders/kc/r2mdrkfd47j7qjjpv3k37lq80000gn/T/ipykernel_52794/2842863132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_Series[5] = 0

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria      0
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [35]:
val_Series = data.value.copy()
val_Series[5] = 9999999
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria      0
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

We can create or modify columns by assignment based on the index. Here, it will store a new value for rows 3, 4, and 6 with 14, 21, 5.

In [36]:
data.value[[3,4,6]] = [14, 21, 5]
data

/var/folders/kc/r2mdrkfd47j7qjjpv3k37lq80000gn/T/ipykernel_52794/1243388670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.value[[3,4,6]] = [14, 21, 5]

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes     14
4        2      Firmicutes     21
5        2  Proteobacteria      0
6        2  Actinobacteria      5
7        2   Bacteroidetes    555

You can add a new column just like you would add a new key to a dictionary.

In [40]:
data['year'] = 2013
data['age'] = [5,5,5,5,6,6,6,6] 
data

   patient          phylum  value  year  age
0        1      Firmicutes    632  2013    5
1        1  Proteobacteria   1638  2013    5
2        1  Actinobacteria    569  2013    5
3        1   Bacteroidetes     14  2013    5
4        2      Firmicutes     21  2013    6
5        2  Proteobacteria      0  2013    6
6        2  Actinobacteria      5  2013    6
7        2   Bacteroidetes    555  2013    6

### Section 13 - Dataframe filtering
---

To extract information from a dataframe, we have to create a list of indices that meet a condition.  Let's try to create an index list to to return all rows for which the phylum name ends in "bacteria" and the value is greater than 1000.

In [47]:
# messy, but comprehensive:

rows_with_bact = data.phylum.str.endswith('bacteria')
rows_with_1000 = data.value > 1000
both_bact_1000 = rows_with_bact & rows_with_1000 # Series of True/False
data[both]

# short form
data[data.phylum.str.endswith('bacteria') & (data.value > 1000)]

   patient          phylum  value  year  age
1        1  Proteobacteria   1638  2013    5

   patient          phylum  value  year  age
1        1  Proteobacteria   1638  2013    5

Other Python data structures (ones without an index) need to be the same length as the `DataFrame`:

In [48]:
month = ['Jan', 'Feb', 'Mar', 'Apr']
data['month'] = month

ValueError: Length of values (4) does not match length of index (8)

In [49]:
data['month'] = ['Jan']*len(data)
data

   patient          phylum  value  year  age month
0        1      Firmicutes    632  2013    5   Jan
1        1  Proteobacteria   1638  2013    5   Jan
2        1  Actinobacteria    569  2013    5   Jan
3        1   Bacteroidetes     14  2013    5   Jan
4        2      Firmicutes     21  2013    6   Jan
5        2  Proteobacteria      0  2013    6   Jan
6        2  Actinobacteria      5  2013    6   Jan
7        2   Bacteroidetes    555  2013    6   Jan

We can use the `drop` method to remove rows or columns, which by default drops rows. We can be explicit by using the `axis=1` to remove column 'month':

In [50]:
data.drop('month', axis=1, inplace=True)

In [51]:
data

   patient          phylum  value  year  age
0        1      Firmicutes    632  2013    5
1        1  Proteobacteria   1638  2013    5
2        1  Actinobacteria    569  2013    5
3        1   Bacteroidetes     14  2013    5
4        2      Firmicutes     21  2013    6
5        2  Proteobacteria      0  2013    6
6        2  Actinobacteria      5  2013    6
7        2   Bacteroidetes    555  2013    6

### Section 14 - Importing data
---

Pandas provides a convenient set of functions for importing tabular data in a number of formats directly into a `DataFrame` object. These functions include a slew of options to perform type inference, indexing, parsing, iterating and cleaning automatically as data are imported.

Let's start with some more bacteria data, stored in csv format.

In [52]:
!head microbiome.csv

Taxon,Patient,Group,Tissue,Stool
Firmicutes,1,0,136,4182
Firmicutes,2,1,1174,703
Firmicutes,3,0,408,3946
Firmicutes,4,1,831,8605
Firmicutes,5,0,693,50
Firmicutes,6,1,718,717
Firmicutes,7,0,173,33
Firmicutes,8,1,228,80
Firmicutes,9,0,162,3196

This table can be read into a DataFrame using `read_csv`:

In [53]:
mb = pd.read_csv("microbiome.csv")
mb

         Taxon  Patient  Group  Tissue  Stool
0   Firmicutes        1      0     136   4182
1   Firmicutes        2      1    1174    703
2   Firmicutes        3      0     408   3946
3   Firmicutes        4      1     831   8605
4   Firmicutes        5      0     693     50
..         ...      ...    ...     ...    ...
65       Other       10      1     203      6
66       Other       11      0     392      6
67       Other       12      1      28     25
68       Other       13      0      12     22
69       Other       14      1     305     32

[70 rows x 5 columns]

Notice that `read_csv` automatically considered the first row in the file to be a header row.

We can override default behavior by customizing some the arguments, like `header`, `names` or `index_col`.

In [54]:
pd.read_csv("microbiome.csv", header=None).head()

            0        1      2       3      4
0       Taxon  Patient  Group  Tissue  Stool
1  Firmicutes        1      0     136   4182
2  Firmicutes        2      1    1174    703
3  Firmicutes        3      0     408   3946
4  Firmicutes        4      1     831   8605

`read_csv` is just a convenience function for `read_table`, since csv is such a common format:

In [55]:
mb = pd.read_table("microbiome.csv", sep=',') # this could also be a tab character \t

The `sep` argument can be customized as needed to accomodate arbitrary separators. For example, we can use a regular expression to define a variable amount of whitespace or tabs:

    sep='\s+' # one or more whitespace characters
    sep='\t+' # one or more tab characters

For a more useful index, we can specify the first two columns, which together provide a unique index to the data. This will index the data based on the combination of Patient-Firmicute pairs. So, the row name can not be considered '1 Firmicute', '2 Firmicute' .... This is called a *hierarchical* index, which we will revisit later in the section.

In [62]:
mb = pd.read_csv("microbiome.csv", index_col=['Patient','Taxon'])
mb[0:20]

                        Group  Tissue  Stool
Patient Taxon
1       Firmicutes          0     136   4182
2       Firmicutes          1    1174    703
3       Firmicutes          0     408   3946
4       Firmicutes          1     831   8605
5       Firmicutes          0     693     50
6       Firmicutes          1     718    717
7       Firmicutes          0     173     33
8       Firmicutes          1     228     80
9       Firmicutes          0     162   3196
10      Firmicutes          1     372     32
11      Firmicutes          0    4255   4361
12      Firmicutes          1     107   1667
13      Firmicutes          0      96    223
14      Firmicutes          1     281   2377
1       Proteobacteria      0    2469   1821
2       Proteobacteria      1     839    661
3       Proteobacteria      0    4414     18
4       Proteobacteria      1   12044     83
5       Proteobacteria      0    2310     12
6       Proteobacteria      1    3053    547

If we have sections of data that we do not wish to import (for example, known bad data), we can populate the `skiprows` argument:

In [63]:
pd.read_csv("microbiome.csv", skiprows=[3,4,6]).head()

        Taxon  Patient  Group  Tissue  Stool
0  Firmicutes        1      0     136   4182
1  Firmicutes        2      1    1174    703
2  Firmicutes        5      0     693     50
3  Firmicutes        7      0     173     33
4  Firmicutes        8      1     228     80

If we only want to import a small number of rows from, say, a very large data file we can use `nrows`:

In [64]:
pd.read_csv("microbiome.csv", nrows=4)

        Taxon  Patient  Group  Tissue  Stool
0  Firmicutes        1      0     136   4182
1  Firmicutes        2      1    1174    703
2  Firmicutes        3      0     408   3946
3  Firmicutes        4      1     831   8605

Most real-world data is incomplete, with values missing due to incomplete observation, data entry or transcription error, or other reasons. Pandas will automatically recognize and parse common missing data indicators, including `NA` and `NULL`.

In [67]:
pd.read_csv("microbiome_missing.csv").head(20)

             Taxon  Patient Tissue    Stool
0       Firmicutes        1    632    305.0
1       Firmicutes        2    136   4182.0
2       Firmicutes        3    NaN    703.0
3       Firmicutes        4    408   3946.0
4       Firmicutes        5    831   8605.0
5       Firmicutes        6    693     50.0
6       Firmicutes        7    718    717.0
7       Firmicutes        8    173     33.0
8       Firmicutes        9    228      NaN
9       Firmicutes       10    162   3196.0
10      Firmicutes       11    372 -99999.0
11      Firmicutes       12   4255   4361.0
12      Firmicutes       13    107   1667.0
13      Firmicutes       14      ?    223.0
14      Firmicutes       15    281   2377.0
15  Proteobacteria        1   1638   3886.0
16  Proteobacteria        2   2469   1821.0
17  Proteobacteria        3    839    661.0
18  Proteobacteria        4   4414     18.0
19  Proteobacteria        5  12044     83.0

Above, Pandas recognized `NA` and an empty field as missing data.

Unfortunately, there will sometimes be inconsistency with the conventions for missing data. In this example, there is a question mark "?" and a large negative number where there should have been a positive integer. We can specify additional symbols with the `na_values` argument:

In [70]:
pd.read_csv("microbiome_missing.csv", na_values=['?', -99999]).head(20)

             Taxon  Patient   Tissue    Stool
0       Firmicutes        1    632.0    305.0
1       Firmicutes        2    136.0   4182.0
2       Firmicutes        3      NaN    703.0
3       Firmicutes        4    408.0   3946.0
4       Firmicutes        5    831.0   8605.0
5       Firmicutes        6    693.0     50.0
6       Firmicutes        7    718.0    717.0
7       Firmicutes        8    173.0     33.0
8       Firmicutes        9    228.0      NaN
9       Firmicutes       10    162.0   3196.0
10      Firmicutes       11    372.0 -99999.0
11      Firmicutes       12   4255.0   4361.0
12      Firmicutes       13    107.0   1667.0
13      Firmicutes       14      NaN    223.0
14      Firmicutes       15    281.0   2377.0
15  Proteobacteria        1   1638.0   3886.0
16  Proteobacteria        2   2469.0   1821.0
17  Proteobacteria        3    839.0    661.0
18  Proteobacteria        4   4414.0     18.0
19  Proteobacteria        5  12044.0     83.0

You can pivot the dataframe to summarize the data for each patient using `pivot`. This function requires the dataframe (df), the desired index column and the columns that will be summarized.

In [97]:
df=pd.read_csv("microbiome_missing.csv", na_values=['?', -99999])

pd.pivot(df, index=["Patient"], columns=["Taxon"])

                Tissue                                                 \
Taxon   Actinobacteria Bacteroidetes Firmicutes  Other Proteobacteria
Patient
1                569.0         115.0      632.0  114.0         1638.0
2               1590.0          67.0      136.0  195.0         2469.0
3                 25.0           0.0        NaN   42.0          839.0
4                259.0          85.0      408.0  316.0         4414.0
5                568.0         143.0      831.0  202.0        12044.0
6               1102.0         678.0      693.0  116.0         2310.0
7                678.0        4829.0      718.0  527.0         3053.0
8                260.0          74.0      173.0  357.0          395.0
9                424.0         169.0      228.0  106.0         2651.0
10               548.0         106.0      162.0   67.0         1195.0
11               201.0          73.0      372.0  203.0         6857.0
12                42.0          30.0     4255.0  392.0          483.0
13               109.0          51.0      107.0   28.0         2950.0
14                51.0        2473.0        NaN   12.0         1541.0
15               310.0         102.0      281.0  305.0         1307.0

                 Stool
Taxon   Actinobacteria Bacteroidetes Firmicutes  Other Proteobacteria
Patient
1                648.0         380.0      305.0  277.0         3886.0
2                  4.0           0.0     4182.0   18.0         1821.0
3                  2.0           0.0      703.0    2.0          661.0
4                300.0           5.0     3946.0   43.0           18.0
5                  7.0           7.0     8605.0   40.0           83.0
6                  9.0           2.0       50.0    0.0           12.0
7                377.0         209.0      717.0   12.0          547.0
8                 58.0         651.0       33.0   11.0         2174.0
9                233.0         254.0        NaN   11.0          767.0
10                21.0          10.0     3196.0   14.0           76.0
11                83.0         381.0        NaN    6.0          795.0
12                75.0         359.0     4361.0    6.0          666.0
13                59.0          51.0     1667.0   25.0         3994.0
14               183.0        2314.0      223.0   22.0          816.0
15               204.0          33.0     2377.0   32.0           53.0

You can subselect rows from the dataframe based on whether they meet some criteria. To do this, you make a condition defined by the table headers, for example, 'Taxon'.

In [105]:
df[df.Taxon=="Firmicutes"]
df_firmicutes = pd.pivot(df[df.Taxon=="Firmicutes"], index=["Patient"], columns=["Taxon"])
df_bacteria = pd.pivot(df[[entry.endswith('bacteria') for entry in df.Taxon]], index=["Patient"], columns=["Taxon"])
print(df_firmicutes)
print(df_bacteria)

            Tissue      Stool
Taxon   Firmicutes Firmicutes
Patient
1            632.0      305.0
2            136.0     4182.0
3              NaN      703.0
4            408.0     3946.0
5            831.0     8605.0
6            693.0       50.0
7            718.0      717.0
8            173.0       33.0
9            228.0        NaN
10           162.0     3196.0
11           372.0        NaN
12          4255.0     4361.0
13           107.0     1667.0
14             NaN      223.0
15           281.0     2377.0
                Tissue                         Stool
Taxon   Actinobacteria Proteobacteria Actinobacteria Proteobacteria
Patient
1                569.0         1638.0          648.0         3886.0
2               1590.0         2469.0            4.0         1821.0
3                 25.0          839.0            2.0          661.0
4                259.0         4414.0          300.0           18.0
5                568.0        12044.0            7.0           83.0
6               1102.0         2310.0            9.0           12.0
7                678.0         3053.0          377.0          547.0
8                260.0          395.0           58.0         2174.0
9                424.0         2651.0          233.0          767.0
10               548.0         1195.0           21.0           76.0
11               201.0         6857.0           83.0          795.0
12                42.0          483.0           75.0          666.0
13               109.0         2950.0           59.0         3994.0
14                51.0         1541.0          183.0          816.0
15               310.0         1307.0          204.0           53.0

### Hand-in 7

From the list of accession numbers "accessions.txt" from yesterday
Make a data frame that summarizes the following for each protein and print it to screen (does not have to be in markdown table format! just a pandas dataframe):

|ACCESION|LENGTH|TAX_DOMAIN|TAX_5_levels|
|---|---|---|---|
|ABC123|100|Eukaryota|Eukaryota_Metazoa_Chordata_Craniata_Vertebrata|

In [ ]:
# HAND IN 7